p
{
    text-align: center;
    font-size: 15px;
}

a
{
    font-size: 18;
    color: blue;
}

h2
{
    text-align: center;
}

h1
{
    text-align: center;
}

img
{
    height: 200px;
    width: 200px;
    align-items: center;
}

body
{
    font-family: monospace;
    font-size: 20px;
}