:root {
  --bg-color: rgb(55, 53, 71);
  --cursor-color: rgb(170, 40, 40);
  --typewriterSpeed: 1s;
  --typewriterStartDelay: 0.4s;
  --typewriterCharacters: 15;
  --subtitleFadeInSpeed: 0.5s;
  --cursorFadeDelay: 0.3s;
  --bg-color-2: white;
}

body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  min-height: 100vh;
  /*display: grid;
  place-content: center;
  text-align: center;*/
  background: var(--bg-color);
  overflow-x: hidden;
}

.wrapper {
  overflow-x: hidden;
}

h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  font-family: "IBM Plex Mono", monospace;
  position: relative;
  text-align: center;
  width: max-content;
  color: rgb(255, 255, 255);
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) var(--typewriterStartDelay) forwards;
}

h1::after {
  width: 0.125em;
  background: var(--cursor-color);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) var(--typewriterStartDelay) forwards,
    blink 750ms ease calc(var(--typewriterSpeed) + var(--cursorFadeDelay))
      forwards;
}

.subtitle {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeInUp 1.5s ease
    calc(var(--typewriterSpeed) + var(--subtitleFadeInSpeed)) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  place-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-me {
  text-align: center;
  color: rgba(255, 255, 255, 0.932);
  font-weight: lighter;
  letter-spacing: 0.2rem;
}

.about-me-text {
  text-align: center;
  color: white;
}

.header {
  height: 100vh;
}

.square {
  position: absolute;
  width: 300vw;
  height: 300vh;
  background-color: var(--bg-color-2);
  clip-path: polygon(50% 0%, 100% 0, 100% 99%, 0 100%, 0 49%);
  z-index: -1;
  overflow: hidden;
}

.projects {
  z-index: 20;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 2rem;
  border-radius: 0.5rem;
  width: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "IBM Plex Mono", monospace;
}

.card-title {
  color: rgb(0, 0, 0);
}

.card-image {
  border-radius: 0.5rem;
  width: 100%;
  object-fit: cover;
}

.card-link {
  float: right;
  color: black;
}
