:root {
  --bg-color: rgb(55, 53, 71);
  --cursor-color: rgb(170, 40, 40);
  --typewriterSpeed: 1s;
  --typewriterStartDelay: 0.4s;
  --typewriterCharacters: 15;
  --subtitleFadeInSpeed: 0.5s;
  --cursorFadeDelay: 0.3s;
}

body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  min-height: 100vh;
  /*display: grid;
  place-content: center;
  text-align: center;*/
  background: var(--bg-color);
}

h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  font-family: "IBM Plex Mono", monospace;
  position: relative;
  text-align: center;
  width: max-content;
  color: aliceblue;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) var(--typewriterStartDelay) forwards;
}

h1::after {
  width: 0.125em;
  background: var(--cursor-color);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) var(--typewriterStartDelay) forwards,
    blink 750ms ease calc(var(--typewriterSpeed) + var(--cursorFadeDelay))
      forwards;
}

.subtitle {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeInUp 1.5s ease
    calc(var(--typewriterSpeed) + var(--subtitleFadeInSpeed)) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  display: flex;
  place-content: center;
}
