:root {
  --bg-color: rgb(55, 53, 71);
  --cursor-color: rgb(170, 40, 40);
  --typewriterSpeed: 1s;
  --typewriterStartDelay: 0.4s;
  --typewriterCharacters: 15;
  --subtitleFadeInSpeed: 0.5s;
  --cursorFadeDelay: 0.3s;
  --bg-color-2: white;

  --header-text-color: rgb(255, 255, 255);
  --header-bg-color: rgb(105, 10, 194);
  --transition-color: rgb(255, 255, 255);

  --header-text-color: rgb(255, 255, 255);
  --header-bg-color: rgb(204, 15, 62);
  --transition-color: rgb(255, 255, 255);

  --header-bg-color: rgb(10, 163, 112);

  --header-text-color: rgb(10, 163, 112);
  --header-bg-color: rgb(255, 255, 255);
  --transition-color: rgb(10, 163, 112);

  --header-text-color: rgb(105, 10, 194);
  --header-bg-color: rgb(255, 255, 255);
  --transition-color: rgb(105, 10, 194);

  --header-text-color: rgb(255, 255, 255);
  --header-bg-color: rgb(105, 10, 194);
  --transition-color: rgb(255, 255, 255);

  --header-text-color: rgb(255, 255, 255);
  --header-bg-color: cornflowerblue;
  --transition-color: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "IBM Plex Mono", monospace;
  min-height: 100vh;
  background: var(--header-bg-color);
  overflow-x: hidden;
}

/*h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  font-family: "IBM Plex Mono", monospace;
  position: absolute;
  text-align: center;
  width: max-content;
  color: rgb(255, 255, 255);
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) var(--typewriterStartDelay) forwards;
}

h1::after {
  width: 0.125em;
  background: var(--cursor-color);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) var(--typewriterStartDelay) forwards,
    blink 750ms ease calc(var(--typewriterSpeed) + var(--cursorFadeDelay))
      forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}*/

h1 {
  padding: 4rem;
}

h2 {
  padding: 1rem;
}

.wrapper {
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: var(--header-bg-color);
  position: absolute;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--header-text-color);
}

.transition-container {
  position: absolute;
  width: 150vw;
  height: 150vh;
  overflow-y: hidden;
  z-index: 1;
}

.transition {
  position: absolute;
  width: 150vw;
  height: 300vh;
  top: 50%;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 50%);
  background: var(--transition-color);
  z-index: 1;
}

.projects-header {
  color: cornflowerblue;
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.projects-title {
  font-size: 2.5em;
}

.projects {
  width: 100%;
  /*height: 100vh;*/
  top: 120%;
  text-align: center;
  background: var(--transition-color);
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 5rem;
  border-radius: 0.5rem;
  width: 50%;
  /*background-color: rgb(255, 255, 255);*/
  color: black;
  font-family: "IBM Plex Mono", monospace;
}

.card-title {
  color: var(--header-bg-color);
}

.card-image {
  /*border-radius: 0.3rem;*/
  width: 100%;
  object-fit: cover;
  outline-width: 3px;
  outline-style: solid;
  outline-color: rgb(255, 255, 255);
}

.card-link {
  float: right;
  color: rgba(0, 0, 0, 0.192);
}
